<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747989124796-b18qune7m0bjh25is4aefchpa9u20eu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747989124796-b18qune7m0bjh25is4aefchpa9u20eu2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>747989124796-5c37i58nffgqomrak4c44ap78295pdbt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWREjnXb7USF24dXHwOoW1fRDMxo1UnkI</string>
	<key>GCM_SENDER_ID</key>
	<string>747989124796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careerSphere</string>
	<key>PROJECT_ID</key>
	<string>liveprojects-2111d</string>
	<key>STORAGE_BUCKET</key>
	<string>liveprojects-2111d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747989124796:ios:250e3eeddc76fb1cbf72b9</string>
	<key>DATABASE_URL</key>
	<string>https://liveprojects-2111d-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>